* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('./cloudsApp.jpg') no-repeat;
    /* background-position: top center; */
    background-size: cover;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));   
    /* Change the above line a later date - changes background to darker */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px 0px 12px 0px;
    border-bottom: 1px solid #f1f1f1;
    color: black;
    font-weight: 18px;
    font-size: 1.1em;
    transition: 0.2s ease-out;
}

::placeholder {
    color: black;
}

header input:focus {
    background: rgba(255, 255, 255, 0.6);
}

main {
    /* flex: 1 1 100%; */
    padding: 25px 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.introText {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 25px;
    width: 400px;
    text-align: center;
}

.place .city {
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
}

.place .todaysDate {
    color: black;
    font-size: 1em;
}

.forecast .temp {
    color: black;
    font-size: 5em;
    font-weight: 800;
    margin: 30px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.6);
}

.forecast .weather {
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin: 10px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}

.forecast .hiLow {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px 0px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}
